extends layout

block content
  div.container-fluid
    div.sidebar
      div.well
        h5 Sidebar
        ul
          li
            a(href='#') Link
          li
            a(href='#') Link
          li
            a(href='#') Link
          li
            a(href='#') Link
        h5 Sidebar
        ul
          li
            a(href='#') Link
          li
            a(href='#') Link
          li
            a(href='#') Link
          li
            a(href='#') Link
    div.content
      div.hero-unit
        h1 Hello, World!
      div.row
        div.span6
          h2 Heading
          p Etiam porta sem malesuada magna mollis euismod.
           |Integer posuere erat a ante venenatis dapibus posuere
           |velit aliquet. Aenean eu leo quam. Pellentesque ornare
           |sem lacinia quam venenatis vestibulum. Duis mollis,
           |est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          p
            a.btn(href='#') View details &raquo;
        div.span5
        div.span5