extends layout

block append scripts
  script(src='/socket.io/socket.io.js')
  script
    $(document).ready(function(){
        $('#messageAlert').hide();

        $('.primary').click(function(){
            var socket = io.connect();
            socket.on('connect', function(){
                socket.emit('UP_START');
            });
            socket.on('UP_SERVER_PREPARED', function(data){
                $('#uploadLogFileForm').attr('action', '/upload?taskId=' + data.taskId);
                $('#uploadLogFileForm').submit();
                $('#messageAlert').show();
                $('#message').html('0%');
            });
            socket.on('UP_PROGRESS', function(data){
                $('#message').html(data.percent + '%' + '    ' + data.bytesReceived + "/" + data.bytesExpected);
            });
            socket.on('UP_FINISH', function(data){
                $('#message').html('The Log File is Uploaded!,<a href="/job/'+data.jobId+'">See Processing</a>');
                socket.disconnect();
            });
        });
    });

block content
  div.container
    div.content
      div.page-header
        h1 Upload Apache Log file
          div#messageAlert.row
            div.alert-message.success
              p
                strong#message 0%
        div.row
          div.span16
            form(id='uploadLogFileForm', name='uploadLogFileForm', method='post', action='/upload', enctype='multipart/form-data', target='iframeUpload')
              fieldset
                div.clearfix
                  label(for='logFile') Select Apache Log File
                  div.input
                    input#logFile.input-file(name='logFile', type='file')
                div.actions
                  input.btn.primary(type='button', value='Upload')
          iframe(name='iframeUpload',style='display:none')
